.main-container {
    background-color: white;
    display: flex;
    margin: auto;
}

.content-container {
    display: flex;
    margin-left: 0.8vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 630px;
    width: 100%;
    margin-left: 30%;
}

.story {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.story_avatar {
    position: relative;
}

.stories_content {
    display: flex;
    gap: 15px;
}

.story_border {
    width: 80px;
    height: 80px;
    fill: none;
    stroke: var(--story-border);
    stroke-width: 1.5;
}

.story_picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.story_user {
    font-size: 13px;
    font-weight: 400;
    color: var(--text-dark);
    text-transform: lowercase;
    max-width: 72px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.stories {
    width: 100%;
    background-color: var(--primary);
    padding: 0;
    position: relative;
    overflow: hidden;
}

.stories::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--border);
}

.posts {
    display: flex;
    padding: 10px 10px 0px 10px;
    width: 100%;
    /* max-width: 614px; */
    flex-direction: column;
    margin-left: 100px;
}

.post {
    width: 468px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.post_header {
    background-color: white;
    border-bottom: 1px solid var(--border);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.post_profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.post_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.post_user {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
    text-transform: lowercase;
}

.post_user:hover {
    text-decoration: underline;
}

.post_date {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
}

.post_more-options {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post_content {
    display: flex;
    position: relative;
}

.post_media {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;

    width: 100%;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    border-radius: 6px;
}

.post_media::-webkit-scrollbar {
    display: none;
}

.post_media {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.post_footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 4px;
}

.post_buttons {
    display: flex;
    position: relative;
}

.post_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.post_button--align-right {
    margin-left: auto;
}

.post_infos {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 10px;
}

.post_likes,
.post_description {
    display: flex;
}

.post_likes {
    align-items: center;
    gap: 6px;
}

.post_likes-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.post_likes span,
.post_description span {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-dark);
}

.post_likes a,
.post_description a {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
}

.post_name--underline:hover {
    text-decoration: underline;
}

.post_date-time {
    font-size: 10px;
    font-weight: 400;
    color: var(--text-light);
    text-transform: uppercase;
}

.msg-menu {
    position: fixed;
    top: 85vh;
    left: 75vw;
}

.msg_button {
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 150px;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    gap: 10px;
    width: auto;
    border: none;
    box-shadow: 0 0 5px 5px #dbdbdb;
}

.msg_button:hover {
    background-color: #F2F3F5;
}

@media (min-width: 620px) {
    .content-container {
        padding: 30px 0 24px
    }
    .content {
        gap: 24px;
    }
    .stories {
        border: 1px solid var(--border);
        border-radius: 4px;
    }
    .stories::after {
        content: none;
    }
    .posts {
        gap: 24px;
    }
    .post {
        border: 1px solid var(--border);
        border-radius: 4px;
    }

    .post_footer {
        padding: 4px 8px 12px;
    }

    .post_date-time {
        margin-top: 6px;
    }
}

@media (max-width: 766px) {
    .msg-menu span {
        display: none;
    }

    .msg_button {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
    }
}

@media (min-width : 767px) and (max-width: 1024px) {
    .msg-menu {
        top: 90vh;
        left: 60vw;
    }
    .content-container {
        margin-left: 10px;
    }
    
    .content {
        margin-left: 0;
    }
}

@media (min-width: 1024px) {
    .main-container {
        background-color: var(--secondary);
    }
    .content {
        margin: unset;
    }
}