.right-side-menu {
    /* position: fixed; */
    left: 60%;
    margin-top: 10px;
    transform: translateX(calc(-50% + 200px));
    display: none;
    flex-direction: column;
    flex-grow: 2;
}

.side-menu_user-profile {
    display: flex;
    align-items: center;
    margin: 20px 0 22px;
}

.side-menu_user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.side-menu_user-info {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex: 1;
   gap: 4px;
}

.side-menu_user-info a {
   font-size: 14px;
   font-weight: 500;
   color: var(--text-dark);
   text-decoration: none;
   text-transform: lowercase;
   max-width: 180px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.side-menu_user-info span {
   font-size: 14px;
   font-weight: 400;
   color: var(--text-light);
   max-width: 180px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.side-menu_user-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: blue;
}

.side-menu_suggestions-section {
    display: flex;
    flex-direction: column;
}

.side-menu_suggestion-header {
    display: flex;
    justify-content: space-between;
}

.side-menu_suggestion-header h2 {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-dark);
}

.side-menu_suggestion-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: var(--text-dark);
}

.side-menu_suggestions-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px 0 24px;
    padding-left: 4px;
}

.side-menu_suggestions {
    display: flex;
    align-items: center;
}

.side-menu_suggestions-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.side-menu_suggestions-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    gap: 2px;
}

.side-menu_suggestions-info a {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
    text-transform: lowercase;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side-menu_suggestions-info a:hover {
    text-decoration: underline;
}

.side-menu_suggestions-info span {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light);
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side-menu_suggestions-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: blue;
    flex-shrink: 0;
}

.side-menu_footer {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
    color: var(--text-light);
}

.side-menu_footer_lists {
    display: flex;
    list-style: none;
}

.dot {
    font-size: 10px;
}

@media (min-width: 768px) {
    
}

@media (min-width: 1025px) {
    .right-side-menu {
        display: flex;
    }
}