/* 기본 그리드 레이아웃 */
.video-grid {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, 1fr 1fr 1fr);*/
  gap: 16px;
  row-gap: 12px;
}

/* 스크롤바 스타일 */
.video-grid::-webkit-scrollbar {
  height: 8px;
}

.video-grid::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.video-grid::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.video-grid::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 개별카드 영역 */
.video-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
}

/* content를 container로 설정 */
.content {
  container-type: inline-size;
  container-name: content;
}

/* content 영역의 실제 너비 기준 */
@container content (max-width: 425px) {
  .video-grid {
    grid-template-columns: 1fr; /* 1열 */
  }
}

@container content (min-width: 426px) and (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr 1fr; /* 2열 */
  }
}

@container content (min-width: 769px) and (max-width: 1800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr; /* 3열 */
  }
}

@container content (min-width: 1801px) and (max-width: 2561px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4열 */
  }
}

@container content (min-width: 2562px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 5열 */
  }
}

/* 썸네일 영역 */
.thumbnail-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 비율 */
  margin-bottom: 12px;
  padding: 0%;
}

/* 썸네일 이미지 영역 */
.thumbnail {
  width: 100%;
  border-radius: 12px;
  padding: 0%;
}

/* 영상 시간 영역 */
.video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 3px 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

/* 영상 정보 영역 */
.video-info {
  display: flex;
  gap: 12px;
}

/* 채널 아이콘 영역 */
.channel-icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #717171;
  overflow: hidden;
}

/* 썸네일 이미지 */
.channel-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 영상 상세 정보 영역 */
.video-details {
  flex: 1;
  min-width: 0;
}

/* 영상 제목 */
.video-title {
  font-size: 15px;
  font-weight: 500;
  color: #0f0f0f;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
}

/* 영상 제목 호버: 클릭 시 영상 확대 */
.video-title:hover {
  color: #303030;
}

/* 채널명 */
.channel-name {
  font-size: 12px;
  color: #606060;
  margin: 0;
  margin-top: 2px;
}

/* 채널명 호버: 클릭 시 채널로 이동 */
.channel-name:hover {
  color: #303030;
}

/* 조회수 및 등록 일자: 클릭 안되므로 호버 없음*/
.video-metadata {
  font-size: 12px;
  color: #606060;
  margin: 0;
}

/* 모바일에서는 무조건 1열로 강제 */
@media (max-width: 767px) {
  .video-grid {
    grid-template-columns: 1fr !important;
  }
  .video-card {
    max-width: 100%;
  }
}
