<aside class="sidebar">
  <div class="brand">
    <!-- PC용 풀 로고 *현 작업중이라 pc용에 태블릿용 아이콘 함께 뜸 -->
    <img
      src="../assets/icons/logo.svg"
      alt="Instagram"
      class="logo-full"
      width="120"
      height="32"
    />
    <!-- 태블릿용 아이콘 -->
    <img
      src="../assets/icons/icon-instagram.png"
      alt="Instagram"
      class="logo-mini"
      width="20"
      height="20"
    />
  </div>

  <nav class="nav">
    <a href="" class="item" data-key="home">
      <span class="ico">home</span><span class="txt">홈</span>
    </a>

    <button class="item" id="btn-search" type="button" data-key="search">
      <span class="ico">search</span><span class="txt">검색</span>
    </button>

    <a href="../pages/explore.html" class="item" data-key="explore">
      <span class="ico">explore</span><span class="txt">탐색 탭</span>
    </a>

    <a class="item" data-key="reels"
      ><span class="ico">smart_display</span><span class="txt">릴스</span></a
    >
    <a class="item" data-key="dm"
      ><span class="ico">chat</span><span class="txt">메시지</span></a
    >
    <a class="item" data-key="like"
      ><span class="ico">favorite</span><span class="txt">알림</span></a
    >
    <a class="item" data-key="create"
      ><span class="ico">add_box</span><span class="txt">만들기</span></a
    >
    <a class="item" data-key="profile"
      ><span class="ico">account_circle</span><span class="txt">프로필</span></a
    >
  </nav>

  <div class="nav-bottom">
    <button class="bottom-btn">
      <span class="ico">menu</span><span class="txt">더 보기</span>
    </button>
    <button class="bottom-btn">
      <span class="ico">apps</span><span class="txt">Meta의 다른 앱</span>
    </button>
  </div>
</aside>
