/* 공통 */
.comment-header {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}

.my_avatar_and_comment {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    flex-wrap: wrap;
}

.comment_input {
    justify-content: center;
    border: 0;
    margin-bottom: 14px;
    border-bottom: 1px solid #ccc;
}

.comment_input:focus {
    outline: none;
    border-bottom: 1px solid black; 
}

.comment_input:focus::placeholder {
    color: transparent;
}

.comment_buttons {
    position: absolute;
    gap: 5px;
    display: none;
}

.comment_buttons button {
    border-radius: 15px;
    width: 75px;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 550;
    height: 35px;
    border: 0;
}

.cancel {
    background-color: white;
    cursor: pointer;
}

.cancel:hover {
    background-color: revert;
}

.apply {
    color: #aaaaaa;
    cursor: pointer;
}

.sorting {
    margin-top: 19px;
    width: 150px;
    padding: 5px 20px;
    text-align: center;
    font-weight: 550;
    height: 35px;
    border: 0;
    background-color: white;
}

.sorting img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.my_comment {
    width: 920px;
}

.comment_input {
    width: 830px;
}

.comment_buttons {
    left: 835px;
}

.mobile-comment-grid {
    display: none;
}

/* 아이폰 SE */
@media only screen and (min-device-width : 320px) and (max-device-width : 374px) {
}

/* 스마트폰 모바일(세로) */
@media only screen and (min-device-width : 375px) and (max-device-width : 479px) {

}

/* 스마트폰 모바일(가로) */
@media only screen and (max-width : 767px) {
    .comment-grid {
        display: none;
    }

    .mobile-comment-grid {
        display: block;
    }

    .sorting {
        margin-top: 19px;
        width: 200px;
        padding: 5px 20px;
        text-align: center;
        font-weight: 550;
        font-size: 20px;
        height: 40px;
        border: 0;
        background-color: white;
    }

    .sorting img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }

    .my_comment {
        width: 920px;
    }

    .comment_input {
        font-size: 17px;
        width: calc(100% / 3);
    }

    .comment_buttons {
        left: 0px;
    }

    .comment_buttons button {
        border-radius: 35px;
        width: 90px;
        padding: 5px 25px;
        font-size: 16px;
        font-weight: 550;
        height: 40px;
        border: 0;
    }
}


/* 태블릿 기준 */
@media only screen and (min-width : 768px) and (max-width : 1015px) {
    .comment-grid {
        display: none;
    }

    .mobile-comment-grid {
        display: block;
    }

    .sorting {
        margin-top: 19px;
        width: 200px;
        padding: 5px 20px;
        text-align: center;
        font-weight: 550;
        font-size: 20px;
        height: 40px;
        border: 0;
        background-color: white;
    }

    .sorting img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }

    .my_comment {
        width: calc(100% - 120px);
    }

    .comment_input {
        font-size: 17px;
        width: calc(100% - 120px);
    }

    .comment_buttons {
        margin-left: 300px;
    }

    .comment_buttons button {
        border-radius: 35px;
        width: 45px;
        padding: 5px 25px;
        font-size: 16px;
        font-weight: 550;
        height: 30px;
        border: 0;
    }
}

/* 태블릿 대형 */
@media only screen and (min-width : 1016px) and (max-width : 1024px)  {
    .mobile-comment-grid {
        display: none;
    }

    .sorting {
        margin-top: 19px;
        width: 150px;
        padding: 5px 20px;
        text-align: center;
        font-weight: 550;
        height: 35px;
        border: 0;
        background-color: white;
    }

    .sorting span {
        font-size: 15px;
    }

    .sorting img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .my_comment {
        width: 700px;
    }

    .comment_input {
        width: 560px;
    }

    .comment_buttons {
        left: 530px;
    }
}