/* 공통 */
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.avatar_picture {
    margin-right: 1px;
}

.movie_info {
    font-weight: 600;
}

.follow {
    color: white;
    background-color: black;
    margin-top: 5px;
    border-radius: 30px;
    padding: 4px;
    width: 60px;
    height: 35px;
    margin-left: 20px;
    margin-right: 100px;
    cursor: pointer;
}

.button_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.split-button button {
    flex: 1;
    margin-top: 5px;
    border: 0;
    width: auto;
    padding: 5px 20px;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    background-color: #eee;
    margin-bottom: 10px;
    cursor: pointer;
}

.split-button button:hover {
    background-color: #ccc;
}

.split-button button:first-child {
    border-right: 1px solid #ccc; /* 두 버튼 사이 경계선 추가 */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.split-button button:last-child {
    border-right: 1px solid #ccc; /* 두 버튼 사이 경계선 추가 */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.share,
.save,
.thanks {
    border-radius: 15px;
    width: auto;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 550;
    height: 35px;
    border: 0;
    background-color: #eee;
    margin-bottom: 10px;
    cursor: pointer;
}

.more {
    border-radius: 50%;
    width: auto;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    height: 35px;
    border: 0;
    background-color: #eee;
    margin-bottom: 10px;
    cursor: pointer;
}

.others button:hover {
    background-color: #ccc;
}

/* 아이폰 SE */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 374px) {

.avatar {
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.video_title,
.comment_title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 700;
}

.uploader-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.uploader_info {
    display: flex;
    flex-direction: row;
}

.uploader_info div {
    margin-right: 10px;
}

.uploader_name {
    margin-bottom: 4px;
    font-weight: 600;
}

.uploader_follwer {
    margin-top: 0;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #aaaaaa;
}

.descriptions {
    padding: 10px;
    font-size: 14px;
    max-width: 370px;
    border-radius: 10px;
    background-color: #eee;
}

.movie_info {
    font-weight: 500;
}

.follow {
    color: white;
    background-color: black;
    margin-top: 5px;
    border-radius: 30px;
    padding: 4px;
    width: 60px;
    height: 35px;
    margin-right: 50px;
    cursor: pointer;
}

.button_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.split-button {
    display: flex;
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.split-button button {
    flex: 1;
    border: 0;
    width: auto;
    padding: 5px 20px;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    background-color: #eee;
    margin-bottom: 10px;
    cursor: pointer;
}

.split-button button:hover {
    background-color: #ccc;
}

.split-button button:first-child {
    border-right: 1px solid #ccc;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.split-button button:last-child {
    border-right: 1px solid #ccc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.others button {
    border-radius: 15px;
    width: auto;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 550;
    height: 35px;
    border: 0;
    background-color: #eee;
    margin-bottom: 10px;
    cursor: pointer;
}

.others button:hover {
    background-color: #ccc;
}

.thanks {
    display: none;
}
} */

/* 스마트폰 모바일(세로) */
/* @media only screen and (min-width : 375px) and (max-width : 479px) {
.movie {
    width: 100%;
    height: 600px;
    background-color: gray;
}

.avatar {
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.video_title,
.comment_title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 700;
}

.uploader-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.uploader_info {
    display: flex;
    flex-direction: row;
}

.uploader_info div {
    margin-right: 10px;
}

.uploader_name {
    margin-bottom: 4px;
    font-weight: 600;
}

.uploader_follwer {
    margin-top: 0;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #aaaaaa;
}

.descriptions {
    padding: 10px;
    font-size: 14px;
    max-width: 370px;
    border-radius: 10px;
    background-color: #eee;
}

.movie_info {
    font-weight: 500;
}

.follow {
    color: white;
    background-color: black;
    margin-top: 5px;
    border-radius: 30px;
    padding: 4px;
    width: 60px;
    height: 35px;
    margin-right: 50px;
    cursor: pointer;
}

.button_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.split-button {
    display: flex;
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.split-button button {
    flex: 1;
    border: 0;
    width: auto;
    padding: 5px 20px;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    background-color: #eee;
    margin-bottom: 10px;
    cursor: pointer;
}

.split-button button:hover {
    background-color: #ccc;
}

.split-button button:first-child {
    border-right: 1px solid #ccc; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.split-button button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.others button {
    border-radius: 15px;
    width: auto;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 550;
    height: 35px;
    border: 0;
    background-color: #eee;
    margin-bottom: 10px;
    cursor: pointer;
}

.others button:hover {
    background-color: #ccc;
}

.thanks {
    display: none;
}
} */

/* 스마트폰 모바일(가로) */
@media only screen and (max-width : 767px) {
    .detail-grid,
    .comment-grid {
        margin-left: 15px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 10px;
    }

    .video_title,
    .comment_title {
        font-size: 30px;
        line-height: 1.8rem;
        font-weight: 700;
    }

    .uploader-container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .uploader_info {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .uploader_name {
        font-size: 15px;
        font-weight: 600;
    }

    .uploader_follwer {
        margin-top: 0;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
        color: #aaaaaa;
    }

    .follow {
        color: white;
        background-color: black;
        margin-top: 2px;
        border-radius: 30px;
        padding: 4px;
        width: 80px;
        font-size: 15px;
        font-weight: 500;
        height: 30px;
        margin-left: 30px;
    }

    .descriptions {
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        background-color: #eee;
        max-width: 920px;
    }

    .split-button button {
        flex: 1;
        border: 0;
        width: auto;
        padding: 5px 20px;
        height: 30px;
        background-color: #eee;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .split-button {
        display: flex;
        width: 100px;
        border-radius: 15px;
        margin-right: 11px;
    }

    .split-button button:first-child {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .split-button button:last-child {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .like img {
        width: 20px;
        height: 20px; 
    }

    .hate img {
        width: 15px;
        height: 15px; 
    }

    .others img {
        width: 15px;
        height: 15px;
    }

    .others button {
        border-radius: 30px;
        width: auto;
        padding: 5px 25px;
        font-size: 15px;
        font-weight: 550;
        height: 30px;
        border: 0;
        background-color: #eee;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .save,
    .thanks {
        display: none;
    }
}

/* 태블릿 기준 */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .detail-grid,
    .comment-grid {
        margin-left: 15px;
    }

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: 8px;
    }

    .video_title,
    .comment_title {
        font-size: 25px;
        line-height: 1.8rem;
        font-weight: 700;
    }

    .uploader-container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .uploader_info {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        margin-right: 40px;
    }

    .uploader_name {
        font-size: 18px;
        font-weight: 600;
    }

    .uploader_follwer {
        margin-top: 0;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 8px;
        color: #aaaaaa;
    }

    .follow {
        color: white;
        background-color: black;
        margin-top: 2px;
        border-radius: 30px;
        padding: 4px;
        width: 70px;
        font-size: 15px;
        font-weight: 500;
        height: 35px;
        margin-left: 30px;
    }

    .descriptions {
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        background-color: #eee;
        max-width: calc(100% - 50px);
    }

    .split-button button {
        flex: 1;
        border: 0;
        width: auto;
        padding: 5px 20px;
        height: 35px;
        background-color: #eee;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .split-button {
        display: flex;
        width: 130px;
        border-radius: 15px;
        margin-right: 10px;
    }

    .split-button button:first-child {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .split-button button:last-child {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .like img {
        width: 20px;
        height: 20px; 
    }

    .hate img {
        width: 15px;
        height: 15px; 
    }

    .others img {
        width: 15px;
        height: 15px;
    }

    .others button {
        border-radius: 30px;
        width: auto;
        padding: 5px 25px;
        font-size: 18px;
        font-weight: 550;
        height: 35px;
        border: 0;
        background-color: #eee;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .thanks {
        display: inline;
    }

    .more {
        border-radius: 50%;
        width: auto;
        padding: 10px;
        font-size: 12px;
        font-weight: 600;
        height: 35px;
        border: 0;
        background-color: #eee;
        margin-bottom: 10px;
        cursor: pointer;
    }
}



/* PC 기준 */
@media only screen and (min-width : 1025px) {
    .detail-grid,
    .comment-grid {
        margin-left: 65px;
    }

    .avatar {
        width: 36px;
        border-radius: 50px;
        margin-right: 10px;
    }

    .video_title,
    .comment_title {
        font-size: 20px;
        line-height: 1.8rem;
        font-weight: 700;
    }

    .uploader-container {
        display: flex;
        width: 97%;
        flex-direction: row;
    }

    .uploader_info {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        /* margin-right: 60px; */
    }

    .uploader_name {
        margin-bottom: 4px;
        font-weight: 600;
    }

    .uploader_follwer {
        margin-top: -5px;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 10px;
        color: #aaaaaa;
    }

    .descriptions {
        padding: 10px;
        font-size: 14px;
        border-radius: 10px;
        background-color: #eee;
        max-width: 900px;
    }

    .split-button {
        display: flex;
        width: 130px;
        border-radius: 10px;
        margin-right: 5px;
    }

    .button {
        width: auto;
    }

    .like img {
        width: 20px;
        height: 20px; 
    }

    .hate img {
        width: 15px;
        height: 15px; 
    }

    .others img {
        width: 15px;
        height: 15px;
    }

    .thanks {
        display: inline;
    }
}
